<div>
   <img src="https://via.placeholder.com/400x300" alt="pup image">
   <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut culpa, minima quam dignissimos voluptatibus, saepe cupiditate impedit porro, omnis magni eius illo. Cumque amet impedit repudiandae architecto velit inventore deleniti!
   </p>

</div>