<div>
    <p>Info</p>
   <img src="https://via.placeholder.com/400x300" alt="pup image">
   <p>
    More Info.  
    </p><p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus consequuntur, non eveniet porro, in a quae enim esse saepe voluptas consequatur consectetur soluta officiis voluptatibus iste beatae molestias fugit aperiam!

   </p>

</div>