<div>
    <p>Stats</p>
    <div class="d-flex">
        <img src="https://via.placeholder.com/300x300" alt="pup image">
        
        <div class="row">
            <div class="col-sm-4">
                <div class="title">Height:</div>
                <div class="stat">1'0"</div>
            </div>
            <div class="col-sm-4">
                <div class="title">Hair:</div>
                <div class="stat">Black/Bristle</div>
                 
            </div>
            <div class="col-sm-4">
                <div class="title">Weight:</div>
                <div class="stat">20 lbs</div>
                
            </div>
            <div class="col-sm-4">
                <div class="title">Eyes:</div>
                <div class="stat">Black</div>
                
            </div>
            <div class="col-sm-4">
                <div class="title">Feet:</div>
                <div class="stat">4 of them</div>
                 
            </div>
            <div class="col-sm-4">
                <div class="title">Skin tone:</div>
                <div class="stat">Black</div>
                 
            </div>
        </div>
    </div>        

  
    
  

</div>