

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px  purple;
  }

.title {
    text-align: center;
    font-size: 20px;
}  

.stat {
    text-align: center;
    
    font-size: 32px;
}


/* Media Querys */

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {

  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
  
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
      .homeImage {
        width: 350px;
      }

      
  }